@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.projects {
    margin-top: 2rem;

    @include tablet_breakpoint {
        height: 100vh;
    }

    &__examples {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet_breakpoint {
            height: 100%;
            justify-content: center;
        }
    }

    &__upper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet_breakpoint {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    &__lower {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet_breakpoint {
            flex-direction: row;
            justify-content: space-between;

        }
    }
    
    &__image {
        margin-bottom: 2rem;
        width: 80%;
        object-fit: cover;
        max-height: 40vh;

        @include tablet_breakpoint {
            width: 20rem;
            height: 20rem;
        }

        &--spaced {
            @include tablet_breakpoint {
                margin-left: 2rem;
            }
        }
    }
}