@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;

.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;

    &__burger {
        width: 2rem;
        height: 0.25rem;
        border-radius: 10px;
        background-color: $primary-black;
        transform-origin: 1px;
        transition: all 0.3s linear;
    }

    @include tablet_breakpoint {
        display: none;
    }
}