@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.about {
    height: 100vh;
    background-color: $primary-black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__overlay-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: right;
    }

    &__overlay-text {
        margin: 0 1rem;
        position: absolute;
        color: $primary-white;
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.85);
        @include mb;

        @include tablet_breakpoint {
            margin: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            @include tb;
        }

        @include desktop_breakpoint {
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            width: 35rem;
            @include db;
        }
    }

    &__subtitle {
        text-transform: uppercase;
        @include mh1;

        @include tablet_breakpoint {
            @include th1;
        }

        @include desktop_breakpoint {
            @include dh1;
        }
    }

    &__body-text {
        padding-top: 1rem;
        color: $primary-white;
        text-align: center;
        @include mb;

        @include tablet_breakpoint {
            padding-top: 2rem;
            @include tb;
        }

        @include desktop_breakpoint {
            @include db;
        }
    }
}