@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.contact {
    height: 100vh;
    background-image: url("../../assets/images/Contact2-BW-slate.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include tablet_breakpoint {
        
    }
    
    @include desktop_breakpoint {
        justify-content: flex-start;
    }
    
    &__form {
        margin: 0 1rem;
        padding: 0.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.569);

        @include tablet_breakpoint {
            padding: 1rem;
            width: 40rem;
        }

        @include desktop_breakpoint {
            width: 30rem;
            margin: 0 0 0 10rem;
        }
    }

    &__name {
        padding: 0.5rem;
        width: 100%;
        outline: none;
        border: none;
        background-color: rgba(255, 255, 255, 0.569);
        @include mb;

        @include tablet_breakpoint {
            @include tb;
        }

        @include desktop_breakpoint {
            padding: 0.75rem;
            @include db;
        }
    }

    &__email {
        margin: 1rem 0;
        padding: 0.5rem;
        width: 100%;
        outline: none;
        border: none;
        background-color: rgba(255, 255, 255, 0.569);
        @include mb;

        @include tablet_breakpoint {
            margin: 1.5rem 0;
            @include tb;
        }

        @include desktop_breakpoint {
            padding: 0.75rem;
            @include db;
        }
    }

    &__message {
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 100%;
        height: 17rem;
        outline: none;
        border: none;
        resize: none;
        background-color: rgba(255, 255, 255, 0.569);
        @include mb;

        @include tablet_breakpoint {
            margin-bottom: 1.5rem;
            @include tb;
        }

        @include desktop_breakpoint {
            padding: 0.75rem;
            @include db;
        }
    }

    &__button {
        text-transform: uppercase;
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        // border: 2px solid transparent;
        background-color: rgba(255, 255, 255, 0.569);

        @include mb;
        font-weight: 600;
        
        @include tablet_breakpoint {
            @include tb;
            font-weight: 600;
        }
        
        @include desktop_breakpoint {
            @include db;
            font-weight: 600;
        }

        &:hover {
            // border: 2px solid $primary-black;
            color: $primary-white;
            background-color: $primary-black;
        }

        &:active {
            color: $primary-white;
            background-color: $primary-black;
        }
    }
}

input::placeholder {
    @include mb;
    color: $primary-black;

    @include tablet_breakpoint {
        @include tb;
    }

    @include desktop_breakpoint {
        @include db;
    }
}

textarea::placeholder {
    @include mb;
    color: $primary-black;

    @include tablet_breakpoint {
        @include tb;
    }

    @include desktop_breakpoint {
        @include db;
    }
}
