@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.header {
    padding: 1rem;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    @include tablet_breakpoint {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__nav {
        display: none;

        @include tablet_breakpoint {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 60rem;
        }

        @include desktop_breakpoint {
            max-width: 70rem;
        }
    }

    &__button {
        padding: 0;
        background: none;
        border: none;
        color: $primary-white;
        @include mh3; 
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;

        &--spaced {
            padding-top: 0.25rem;

            @include tablet_breakpoint {
                padding-top: 0;
            }
        }

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.3125rem;
        }

        @include tablet_breakpoint {
            @include th3;
            font-weight: 500;
        }

        @include desktop_breakpoint {
            @include dh3;
            font-weight: 500;
        }
    }
}

.header {
    &__hamburger-container {
        position: relative;
        left: 90%;

        @include tablet_breakpoint {
            display: none;
        }
    }

    &__hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;

        .header__bar {
            width: 30px;
            height: 4px;
            background-color: $primary-white;
            border-radius: 4px;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        &.header__open .header__bar:nth-child(1) {
            transform: rotate(45deg);
            position: relative;
            top: 10px;
        }

        &.header__open .header__bar:nth-child(2) {
            opacity: 0;
        }

        &.header__open .header__bar:nth-child(3) {
            transform: rotate(-45deg);
            position: relative;
            top: -10px;
        }

        @include tablet_breakpoint {
            display: none;
        }
    }

    &__menu {
        display: none;
        position: absolute;
        top: 50px;
        right: 90%;
        // background-color: $primary-black;
        background-color: rgba(0, 0, 0, 0.5);
        // width: 200px;
        width: fit-content;
        // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 999;

        &.header__open {
            display: block;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 10px 20px;
        }

        li p {
            text-decoration: none;
            color: $primary-white;
        }

        li p:hover {
            color: #007bff;
        }

        @include tablet_breakpoint {
            display: none;
        }
    }
}