@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.header {
    padding: 1rem;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    // background-color: rgba(0, 0, 0, 0.5);

    &__nav {
        display: flex;
        flex-direction: column;

        @include tablet_breakpoint {
            margin: 0 auto;
            flex-direction: row;
            justify-content: space-between;
            max-width: 60rem;
        }

        @include desktop_breakpoint {
            max-width: 70rem;
        }
    }

    &__button {
        padding: 0;
        background: none;
        border: none;
        color: $primary-white;
        @include mh3;
        font-weight: 400;
        cursor: pointer;
        text-transform: uppercase;
        text-align: center;

        &--spaced {
            padding-top: 0.25rem;

            @include tablet_breakpoint {
                padding-top: 0;
            }
        }

        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.3125rem;
        }

        @include tablet_breakpoint {
            @include th3;
            font-weight: 400;
        }

        @include desktop_breakpoint {
            @include dh3;
            font-weight: 400;
        }
    }
}