@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.sale {
    background-color: $primary-black;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // height: 100vh;

    @include tablet_breakpoint {
        padding: 5rem 1rem;
        justify-content: space-around;
    }

    @include desktop_breakpoint {
        padding: 8rem 1rem;
    }

    &__title {
        padding-bottom: 1rem;
        @include mh1;
        color: $primary-white;
        text-transform: uppercase;

        @include tablet_breakpoint {
            padding-bottom: 2rem;
            @include th1;
        }

        @include desktop_breakpoint {
            padding-bottom: 3rem;
            @include dh1;
        }
    }
    
    &__bike {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet_breakpoint {
            // flex-direction: row;
            // justify-content: space-between;
        }

        @include desktop_breakpoint {
            max-width: 80rem;
            flex-direction: row;
            justify-content: center;
        }

        &--flipped {
            @include tablet_breakpoint {
                flex-direction: row-reverse;
            }
        }
    }
    
    &__image {
        padding-bottom: 1rem;
        width: 100%;
        max-height: 20rem;
        object-fit: cover;
        object-position: center;

        @include tablet_breakpoint {
            width: 40rem;
            height: 30rem;
        }
    }
    
    &__description {
        // padding-bottom: 2rem;
        width: 100%;

        @include tablet_breakpoint {
            width: 40rem;
        }

        &--right-aligned {
            @include desktop_breakpoint {
                text-align: right;
                padding-left: 2rem;
            }
        }

        &--left-aligned {
            @include desktop_breakpoint {
                padding-right: 2rem;
            }
        }
    }

    &__description-title {
        color: white;
        @include mh3;
        font-size: 1rem;

        @include tablet_breakpoint {
            @include th3;
            font-size: 1.125rem;
        }

        @include desktop_breakpoint {
            @include dh3;
            font-size: 1.125rem;
        }
    }

    &__description-text {
        color: white;
        @include mb;

        @include tablet_breakpoint {
            @include tb;
        }

        @include desktop_breakpoint {
            @include db;
        }
    }
}