@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.footer {
    &__content {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__icon {
        width: 1.75rem;

        @include tablet_breakpoint {
            width: 2rem;
        }

        @include desktop_breakpoint {
            width: 2.5rem;
        }
    }

    &__link {
        margin: 0 1.5rem;
        width: 8rem;
        display: flex;
        justify-content: center;

        @include tablet_breakpoint {
            margin: 0 2.5rem;
        }

        @include desktop_breakpoint {
            margin: 0 3.5rem;
            width: 10rem;
        }
    }

    &__logo {
        margin: 0 1.5rem;
        width: 8rem;

        @include tablet_breakpoint {
            margin: 0 2.5rem;
        }

        @include desktop_breakpoint {
            margin: 0 3.5rem;
            width: 10rem;
        }
    }

    &__copyright {
        padding-bottom: 0.25rem;
        color: $primary-white;
        text-align: center;
        @include msb;

        @include tablet_breakpoint {
            @include tsb;
        }

        @include desktop_breakpoint {
            @include dsb;
        }
    }
}